body{
	font-family: sans-serif;
	width: 80%;
	margin: auto;
}

#chordtree{
	margin: auto;
}

.tree_root{

	margin: auto !important;
	margin-top: 20px !important;
	padding: 10px;
	
	width: fit-content !important;
	display: block !important;
}


.node{
	display: inline-block;
	padding: 2px;
	border: 1px solid #fff0;
	margin: 1px;
	color: gray;
	background: white;
	
}

.LEAFoptions{
	display: none;
}

.node.isLeaf{
	color: darkgreen;
}

.node.isSelected{
	border-color: green;
}

.node.isMuted,
.node.isMuted > * {
	background: #b0b0b0;
	
}

.node.isMuted.isSelected{
	background: #b0b0b0;

}



.chordname{
	margin: auto;
	width: 60px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 5px;
	font-size: 1.5em;
	padding: 3px;
	border-radius: 5px;
	background-color: #c7e39b;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.chordname.HL{
	background-color: #35e1b1;
}

.options{

}

.leafButton{

}

.child_opt{
	width: 100px;
}

.preview{

}

.bottomBar{
	position: absolute;
	top: 80%;
}

.modalMenu{

}